@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

*{
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400; 
}

.light {
	color: white;
}

.dark {
	color: black;
}

.title {
	padding-bottom: 0;
    margin-bottom: 0;
    font-size: xx-large;
}

.container {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin: -150px -150px;
	margin-bottom: 75px;
	text-align: center;
}

@media only screen and (max-height: 400px), (max-height: 400px) and (orientation: landscape) {
	.container {
		margin-top: 75px;
		top: 0;
	}
}

input {
	width: 250px;
	margin: auto;
	padding: 10px;
	margin-bottom: 5px;
	font-size: x-large;
	border: 0;
	border-bottom: 1px solid;
	background: transparent;
}

.light input{
	color: white;
}

.dark input{
	color: black;
}

.light ::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
.light :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 1;
}
.light ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 1;
}
.light :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: white;
}

.dark ::-webkit-input-placeholder { /* WebKit browsers */
    color: black;
}
.dark :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity: 1;
}
.dark ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity: 1;
}
.dark :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: black;
}

.btn {
	background: none;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.light .btn {
	border: solid white 2px;
}

.dark .btn {
	border: solid black 2px;
}

.light a:link, .light a:visited, .light a:hover, .light a:active { color: white; }
.dark a:link, .dark a:visited, .dark a:hover, .dark a:active { color: black; }