
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    background-color: #F7F6F6;
    color: #8C8888;
}

a {
    color: #8C8888;
}

.jumbotron {
    background: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.centered-pills {
    text-align: center
}

.centered-pills ul.nav-pills {
    display: inline-block
}

.centered-pills li {
    display: inline
}

.centered-pills a {
    float: left
}

* html .centered-pills ul.nav-pills, * + html .centered-pills ul.nav-pills {
    display: inline
}

.jumbotron p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.fields {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }
}

.about-title {
    position: absolute;
    right: 20px;
    top: 28px;
}


#about {
    margin-right: 8px;
}

.vertical-center {
    height: 100%;
    width: 100%;

    text-align: center; /* align the inline(-block) elements horizontally */
    font: 0/0 a; /* remove the gap between inline(-block) elements */
}

.vertical-center:before {
    /* create a full-height inline block pseudo=element */
    content: " ";
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.vertical-center > .container {
    max-width: 100%;

    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    /* reset the font property */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
    background-color: #F26662;
}

.nav-pills > li > a {
    color: #8C8888;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #F26662;
}
